[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.9.3"
xdg = "==5.1.1"

[dev-packages]
pytest = "*"
requirements-parser = "*"
black = "*"

[requires]
python_version = "3.10"
